@import url(Style/home.css);
@import url(Style/consulta.css);

:root {
  --texto: #464646;
  --texto-claro: #A3A3A3;
  --fundo: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
  --fundo-card: #FFF;

  --cor-primaria: #4894FF;
  --cor-secundaria: #FFB050;
  --branco: #FFF;
  --cinza: #ECECEC;
  --cinza-secundario: #F6F6F6;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--fundo);
}