.consulta {
    display: flex;
    height: calc(100vh - 110px - 58px);
}

.consulta ul {
    list-style: none;
    display: flex;
    align-items: center;
    background: var(--fundo-card);
    padding: 16px 16px 0;
    border-radius: 8px;
    margin-bottom: 16px;

}

.consulta__img-div {}

.consulta img {
    border-radius: 50%;
}

.consulta__datas>strong {
    color: var(--texto);
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 46px;
}

.consulta__nome-paciente {
    font-weight: 700;
    font-size: 14px;
    color: var(--texto);
}

.consulta__texto {
    font-weight: 400;
    font-size: 12px;
    color: var(--texto-claro);
}

.consulta__msg {
    display: flex;
    gap: 0.5em;
}