.home {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.home>img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.home__neg {
    font-weight: 700;
    font-size: 22px;
    color: var(--texto);
}

.home__texto {
    font-weight: 400;
    font-size: 14px;
    color: var(--texto-claro);
}